/*--------------- Footer Section ---------------  */
/*--------------- Laptop ---------------  */
@media only screen and (min-width: 1440px) { 
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: #778579;
  }
  
  .footer_container {
    width: 1200px;
  }
  
  .footer_heading {
    font-size: var(--font-size-laptop-large);
    font-weight: bold;
    color: #FFFFFF;
  
    padding-bottom: 10px;
    align-self: self-start;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .footer_information {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .footer_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .footer_title {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #FFFFFF;
    font-size: var(--font-size-laptop-small);
    font-weight: bold;
  }
  
  .footer_content {
    color: #FFFFFF;
    font-size: var(--font-size-laptop-extra-small);
  }
  
  .footer_content_address {
    padding-top: 15px;
    width: 280px;
  }
  
  .footer_socialmedia {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .footer_socialmedia_title {
    font-size: var(--font-size-laptop-small);
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .footer_logo {
    width: 45px;
  }
}


/*--------------- Tablet ---------------  */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #778579;
  }
  
  .footer_container {
    width: 760px;
  }
  
  .footer_heading {
    font-size: var(--font-size-tablet-large);
    font-weight: bold;
    color: #FFFFFF;
  
    padding-bottom: 10px;
    align-self: self-start;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .footer_information {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .footer_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .footer_title {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size: var(--font-size-tablet-small);
    font-weight: bold;
  }
  
  .footer_content {
    color: #FFFFFF;
    font-size: var(--font-size-tablet-extra-small);
  }
  
  .footer_content_address {
    padding-top: 15px;
    width: 200px;
  }
  
  .footer_socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .footer_socialmedia_title {
    font-size: var(--font-size-tablet-small);
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .footer_logo {
    width: 30px;
  }
}


/*--------------- Mobile ---------------  */
@media only screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #778579;
  }
  
  .footer_container {
    width: 320px;
  }
  
  .footer_heading {
    font-size: var(--font-size-mobile-large);
    font-weight: bold;
    color: #FFFFFF;
  
    padding-bottom: 10px;
    align-self: self-start;
    border-bottom: 2px solid #FFFFFF;
  }
  
  .footer_information {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .footer_box {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .footer_title {
    padding-top: 10px;
    padding-bottom: 5px;
    color: #FFFFFF;
    font-size: var(--font-size-mobile-small);
    font-weight: bold;
  }
  
  .footer_content {
    color: #FFFFFF;
    font-size: var(--font-size-mobile-extra-small);
  }
  
  .footer_content_address {
    padding-top: 10px;
    width: 200px;
  }
  
  .footer_socialmedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
  }
  
  .footer_socialmedia_title {
    font-size: var(--font-size-mobile-small);
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .footer_logo {
    width: 20px;
  }
}