/*--------------- Universal Section ---------------  */
/*--------- standard styles for every pages ---------  */
@font-face {
  font-family: 'InterFont';
  src: url('../media/Inter-Regular.ttf');
}

body {
  font-family: 'InterFont', sans-serif;
}

p, h1, h2, body {
  margin: 0px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000000;
}

[contenteditable] {
  outline: 0px solid transparent;
}

:root {
  --font-size-laptop-extra-small: 20px;
  --font-size-laptop-small: 28px;
  --font-size-laptop-medium: 36px;
  --font-size-laptop-large: 48px;

  --font-size-tablet-extra-small: 16px;
  --font-size-tablet-small: 20px;
  --font-size-tablet-medium: 26px;
  --font-size-tablet-large: 36px;

  --font-size-mobile-extra-small: 12px;
  --font-size-mobile-small: 14px;
  --font-size-mobile-medium: 18px;
  --font-size-mobile-large: 26px;
}