@media only screen and (min-width: 1440px) {
  /*--------------- Summary Section ---------------  */
  .summary {
    display: flex;
    background-color: #EAF5FF;
    justify-content: center;
  }

  .summary_background {
    position: absolute;
    width: 100%;
  }

  .summary_container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 40px;
    z-index: 1; 
  }

  .summary_heading {
    font-size: var(--font-size-laptop-large);
    font-weight: bold;
    align-self: center;
    padding-top: 70px;
  }

  .summary_navigation {
    display: flex;
    align-self: flex-start;
    border-radius: 0px 0px 16px 16px;
    padding: 8px 20px 8px 20px;
    background-color: #ffffff;
  }

  .summary_navigation > * {
    display: inline;
    font-size: var(--font-size-laptop-extra-small);
  }
  
  .summary_content {
    font-size: var(--font-size-laptop-small);
    font-weight: bold;
  }

  .summary_box {
    margin-top: 250px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 4px dotted #423939;
    padding: 40px;
  }


  /*--------------- Method Section ---------------  */
  .method {
    display: flex;
    background-color: #EAF5FF;
    justify-content: center;
    padding-top: 120px;
  }

  .method_container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    gap: 150px;
  }

  .method_row {
    display: flex;
    gap: 100px;
  }

  .method_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 515px;
    gap: 30px;
  }

  .method_box_photo {
    width: 585px;
  }

  .method_banner {
    display: flex;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
  }

  .method_volunteer, .method_contribute {
    background-color: #79AEE0;
    color: #ffffff;
  }

  .method_fundraising {
    background-color: #A8DEB0;
  }

  .method_content {
    font-size: var(--font-size-laptop-small);
  }

  .method_banner_content {
    font-size: var(--font-size-laptop-small);
    font-weight: bold;
  }

  .method_navigation {
    text-decoration: underline;
    font-style: italic;
    font-size: var(--font-size-laptop-extra-small);
  }

  
  /*--------------- Donation Section ---------------  */
  .donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #EAF5FF;
  }

  .donation_photo {
    width: 1200px;
    height: 940px;
  }

  .donation_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 980px;
    gap: 15px;
  }

  .donation_heading {
    font-size: var(--font-size-laptop-large);
    font-weight: bold;
    align-self: center;
  }

  .donation_content {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: var(--font-size-laptop-small);
  }

  .donation_question {
    padding-top: 10px;
    font-size: var(--font-size-laptop-small);;
    font-weight: bold;
  }

  .donation_options {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .donation_choice {
    border-radius: 8px;
    border: 2px solid #000000; 
    padding: 14px 24px 14px 24px;
    cursor: pointer;
  }

  .donation_choice_selected {
    background-color: #0D6792;
    color: #ffffff;
  }

  .donation_choice_text {
    font-size: var(--font-size-laptop-small);
  }

  .donation_choice_editable {
    width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .donation_submit {
    background-color: #1DA2E3;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 15px;
    width: 300px;
    margin-top: 20px;
  }

  .donation_submit_text {
    color: #ffffff;
    font-size: var(--font-size-laptop-small);
  }

  .donation_method {
    padding-top: 20px;
    width: 890px;
  }
}